<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mayorista.appproveedorgas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_LAUNCH_BROADCASTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- required by Android 9 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.mayorista.appproveedorgas.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <!--Actividad principal-->
        <activity
            android:name="com.mayorista.appproveedorgas.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.mayorista.appproveedorgas.Terminos_Condiciones_Activity" />
        <activity android:name="com.mayorista.appproveedorgas.ActualizarPosicionActivity" />
        <activity android:name="com.mayorista.appproveedorgas.CreateUserActivity" />
        <activity android:name="com.mayorista.appproveedorgas.ProfileActivity" />
        <activity android:name="com.mayorista.appproveedorgas.PedidoActivity" />
        <activity android:name="com.mayorista.appproveedorgas.MisProductosActivity" />
        <activity android:name="com.mayorista.appproveedorgas.GasActivity" />
        <activity android:name="com.mayorista.appproveedorgas.ProductActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.mayorista.appproveedorgas.HomeActivity" />


        <service
            android:name="com.mayorista.appproveedorgas.JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.mayorista.appproveedorgas.Service"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />

        <receiver
            android:name="com.mayorista.appproveedorgas.RestartServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="com.mayorista.appproveedorgas.RestartServiceBroadcastReceiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.mayorista.appproveedorgas.NotificationReceiver" />

        <service
            android:name="com.mayorista.appproveedorgas.addressLocation.FetchAddressIntentService"
            android:exported="false" />
    </application>

</manifest>